@font-face {
  font-family:'AvenirLT-Medium';
  src:url("//dpy9sntq9t470.cloudfront.net/jellyco/css/fonts/27EEB9_0_0.eot");
  src:url("//dpy9sntq9t470.cloudfront.net/jellyco/css/fonts/27EEB9_0_0.eot?#iefix") 
  format("embedded-opentype"),
  url("//dpy9sntq9t470.cloudfront.net/jellyco/css/fonts/27EEB9_0_0.woff") 
  format("woff"),
  url("//dpy9sntq9t470.cloudfront.net/jellyco/css/fonts/27EEB9_0_0.ttf") 
  format("truetype")
}

@font-face {
  font-family:'AvenirLT-Roman';
  src:url("//dpy9sntq9t470.cloudfront.net/jellyco/css/fonts/27EEB9_1_0.eot");
  src:url("//dpy9sntq9t470.cloudfront.net/jellyco/css/fonts/27EEB9_1_0.eot?#iefix") 
  format("embedded-opentype"),
  url("//dpy9sntq9t470.cloudfront.net/jellyco/css/fonts/27EEB9_1_0.woff") 
  format("woff"),
  url("//dpy9sntq9t470.cloudfront.net/jellyco/css/fonts/27EEB9_1_0.ttf") 
  format("truetype")
}

@font-face {
  font-family:'AvenirLT-Book';
  src:url("//dpy9sntq9t470.cloudfront.net/jellyco/css/fonts/27EEB9_2_0.eot");
  src:url("//dpy9sntq9t470.cloudfront.net/jellyco/css/fonts/27EEB9_2_0.eot?#iefix") 
  format("embedded-opentype"),
  url("//dpy9sntq9t470.cloudfront.net/jellyco/css/fonts/27EEB9_2_0.woff") 
  format("woff"),
  url("//dpy9sntq9t470.cloudfront.net/jellyco/css/fonts/27EEB9_2_0.ttf") 
  format("truetype")
}

@font-face {
  font-family:'AvenirLT-Light';
  src:url("//dpy9sntq9t470.cloudfront.net/jellyco/css/fonts/27EEB9_3_0.eot");
  src:url("//dpy9sntq9t470.cloudfront.net/jellyco/css/fonts/27EEB9_3_0.eot?#iefix") 
  format("embedded-opentype"),
  url("//dpy9sntq9t470.cloudfront.net/jellyco/css/fonts/27EEB9_3_0.woff") 
  format("woff"),
  url("//dpy9sntq9t470.cloudfront.net/jellyco/css/fonts/27EEB9_3_0.ttf") 
  format("truetype")
}

@font-face {
  font-family:'AvenirLT-Heavy';
  src:url("//dpy9sntq9t470.cloudfront.net/jellyco/css/fonts/27EEB9_4_0.eot");
  src:url("//dpy9sntq9t470.cloudfront.net/jellyco/css/fonts/27EEB9_4_0.eot?#iefix") 
  format("embedded-opentype"),
  url("//dpy9sntq9t470.cloudfront.net/jellyco/css/fonts/27EEB9_4_0.woff") 
  format("woff"),url("//dpy9sntq9t470.cloudfront.net/jellyco/css/fonts/27EEB9_4_0.ttf") 
  format("truetype")
}

@font-face {
  font-family:'AvenirLT-Black';
  src:url("//dpy9sntq9t470.cloudfront.net/jellyco/css/fonts/27EEB9_5_0.eot");
  src:url("//dpy9sntq9t470.cloudfront.net/jellyco/css/fonts/27EEB9_5_0.eot?#iefix") 
  format("embedded-opentype"),
  url("//dpy9sntq9t470.cloudfront.net/jellyco/css/fonts/27EEB9_5_0.woff") 
  format("woff"),
  url("//dpy9sntq9t470.cloudfront.net/jellyco/css/fonts/27EEB9_5_0.ttf") 
  format("truetype")
}

body, html{
  font: 18px "AvenirLT-Book", sans-serif;
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "AvenirLT-Black", sans-serif;
  margin-bottom: 25px;
}

p, ul, ol, table, dl, hr {
  margin-bottom: 25px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

h3 {
	font-size:22px;
}

h4 {
  font-size: 20px;
}

img {
    border:none;
    width: 100%;
}

blockquote {
  border-left: 6px solid #6CD16C;
  font-style: italic;
}

#footer {
  font-size: 14px;
  text-align: center;
}

#navigation {
  margin-top: 30px;
  font-size: 22px;
}

#content {
  margin-top: 10px;
}

table {
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
}

thead {
  border-bottom: 2px solid #000;
}

tr, th, td {
  padding-top: 2px;
  padding-bottom: 2px;
}

th, td {
  padding-left: 25px;
  padding-right: 25px;
}