@import url(http://fonts.googleapis.com/css?family=Fjord+One);

body {
  font:16px/1.5 "Fjord One", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:300;
}

h1, h2, h3, h4, h5, h6 {
  font-family:"Fjord One", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:36px;
}

h2 {
  color:#393939;
  font-size: 28px;
}

h3 {
	font-size:20px;
	margin: 12px 0 20px;
}

h4, h5, h6 {
  color:#494949;
}

a {
  color:#5FBCD3;
  font-weight:400;
  text-decoration:none;
}

a:hover, a:focus{
  text-decoration:none;
  color:#2C89A0;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

a, img {
    border:none;
}

#content {
  text-align: justify;
  padding: 20px 40px 0 200px;
}

#content > article,
#content > #pager{
  max-width: 700px;
}

#archivecont{
  border: 1px solid #ccc;
  border-width: 1px 0;
  background: #f0f0f0;
  border-bottom: 0;
  margin: 0 -40px 0 -200px;
  padding: 20px 40px 20px 200px;
}

#archive {
  max-width:700px;
}

#posts time,
#posts h3 {
  display: inline;
}

#header {
  width: 70px;
  position: fixed;
  padding: 5px;
  left:0;
  margin: 0px 0px 0px 100px;
}

#links li {
  display: inline;
  margin: 0 5px;
}

#links a {
  background: url(/images/chimp.svg) center center no-repeat;
  display: inline-block;
  height: 60px;
  text-indent: -999em;
  width: 60px;
  margin: 0 0 5px 0;
}

#links .twitter a {
  background-image: url(/images/twitter.svg);
}

#links .rss a {
  background-image: url(/images/rss.svg);
}

#links .info a {
  background-image: url(/images/info.svg);
}

.bar {
	background:#AFDDE9; 
	height:14px; 
	margin-top:4px; 
	float:right; 
	cursor:default;
}
.bar:hover {
	background:#5FBCD3;
}

.tooltip {
  font-weight:600;
  font-size:12px;
}

@media all and (max-width: 800px) {
  body {
    font:16px/1.5 "Fjord One", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 70px;
  }
  
  header ul {
    display:none;
  }
  
   #header {
    background: #fff;
    border: 0;
    border-bottom: 1px solid #ddd;
    top: 0;
    margin: 0;
    padding: 0px 0px;
    width: 100%;
    z-index: 999;
  }
  
  #links {
    display: inline-block;
    list-style-type: none;
    margin: 5px 0px 5px 5px;
  }
  
  #content {
    text-align: left;
    margin: 0;
    padding: 10px;
  }
  
  #archivecont{
    margin: 0 -10px -10px -10px;
    padding: 10px;
  }
  
  .bar{
    display: none;
  }
}
