<nav>
	<li><a href="/"><i class="fa fa-home fa-lg"></i><span class="navtext"> home</span></a></li>
	<li><a href="/tags/"><i class="fa fa-tags fa-lg"></i><span class="navtext"> tags</span></a></li>
	<li><a href="/about/"><i class="fa fa-user fa-lg"></i><span class="navtext"> about</span></a></li>
	<li><a href="/research/"><i class="fa fa-flask fa-lg"></i><span class="navtext"> research</span></a></li>
	<li><a href="/atom.xml"><i class="fa fa-rss fa-lg"></i><span class="navtext"> rss</span></a></li>
	<li><a href="{{ site.source_url }}/tree/master/{{ page.path }}"><i class="fa fa-github fa-lg"></i><span class="navtext"> source</span></a></li>
</nav>