<!doctype html>
<html>
  <head>
	<title>{{ page.title }}</title>
	  
    <meta charset="utf-8">
    <meta name="description" content="Jilong Liao's rambles on computer science in blog form." />
    <meta name="author" content="Jilong Liao">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32402817-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script> 
  </head>

  <body>
    <div class="main">
      {{ content }}
    </div>
    <div id="footer">
      <p>&copy; 2014 Jilong Liao. The opinions in this blog represent my personal opinions not my employer or any other organizations and institutes.</p>
    </div>
  </body>
</html>



