<!doctype html>
<html>
  <head>
	<title>{{ page.title }}</title>
	  
    <meta charset="utf-8">
    <meta name="description" content="Jilong Liao's rambles on computer science in blog form." />
    <meta name="author" content="Jilong Liao">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/pygment_trac.css">
    <link rel="stylesheet" href="/css/styles.css">
    
    <!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
  </head>
  <body data-spy="scroll" data-target="header">
    
    <div id="content">
		<nav id="header">
			<div>
				<ul id="links">
					<li class="home"><a href="{{ base.url }}/">Jilong Liao's blog</a></li>
					<li class="twitter"><a href="http://www.twitter.com/littleeyes1">Jilong Liao's Twitter</a></li>
					<li class="rss"><a href="/atom.xml">Jilong Liao's blog RSS feed</a></li>
					<li class="info"><a href="/about.html">Jilong Liao's blog info</a></li>
				</ul>
			</div>
		</nav>
			{{ content }}
    </div>

    <script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">
		$(document).ready(function () {
			$('.bar').click(function() {
				return false;
			}).tooltip({placement: 'right', animate: false});
	});
	</script>
  </body>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32402817-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>	
</html>
